{% load static %}
<header id="header" class="header style-04 header-dark">
    <div class="header-top">
        <div class="container">
            <div class="header-top-inner">
                <ul id="menu-top-left-menu" class="furgan-nav top-bar-menu">
                    <li id="menu-item-864"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-864"><a
                    class="furgan-menu-item-title" title="Store Direction"
                    href="#"><span class="icon flaticon-localization"></span>Store
                Direction</a></li>
                <li id="menu-item-865"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-865"><a
                class="furgan-menu-item-title" title="Order Tracking"
                href="#"><span class="icon flaticon-box"></span>Order
            Tracking</a></li>
        </ul>
        <div class="furgan-nav top-bar-menu right">
            <ul class="wpml-menu">

                <li>{{user.get_username}}</li>
                <li class="menu-item furgan-dropdown block-language">
                    <a href="#" data-furgan="furgan-dropdown">
                        <img src="{% static 'assets/images/en.png' %}"
                        alt="en" width="18" height="12">
                        English
                    </a>
                    <span class="toggle-submenu"></span>
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#">
                                <img src="{% static 'assets/images/it.png' %}"
                                alt="it" width="18" height="12">
                                Italiano
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="wcml-dropdown product wcml_currency_switcher">
                        <ul>
                            <li class="wcml-cs-active-currency">
                                <a class="wcml-cs-item-toggle">USD</a>
                                <ul class="wcml-cs-submenu">
                                    <li>
                                        <a>EUR</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="header-middle">
    <div class="container">
        <div class="header-middle-inner">
            <div class="header-logo-menu">
                <div class="block-menu-bar">
                    <a class="menu-bar menu-toggle" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <div class="header-logo">
                    <a href="index.html"><img alt="Furgan" src="{% static 'assets/images/logo.png' %}"
                        class="logo"></a></div>
                    </div>
                    <div class="header-search-mid">
                        <div class="header-search">
                            <div class="block-search">
                                <form role="search" method="get"
                                class="form-search block-search-form furgan-live-search-form">
                                <div class="form-content search-box results-search">
                                    <div class="inner">
                                        <input autocomplete="off" class="searchfield txt-livesearch input" name="s"
                                        value="" placeholder="Search here..." type="text">
                                    </div>
                                </div>
                                <input name="post_type" value="product" type="hidden">
                                <input name="taxonomy" value="product_cat" type="hidden">
                                <div class="category">
                                    <select title="product_cat" name="product_cat" id="1771262470"
                                    class="category-search-option"
                                    tabindex="-1" style="display: none;">
                                    <option value="0">All Categories</option>
                                    <option class="level-0" value="light">Light</option>
                                    <option class="level-0" value="chair">Chair</option>
                                    <option class="level-0" value="table">Table</option>
                                    <option class="level-0" value="bed">Bed</option>
                                    <option class="level-0" value="new-arrivals">New arrivals</option>
                                    <option class="level-0" value="lamp">Lamp</option>
                                    <option class="level-0" value="specials">Specials</option>
                                    <option class="level-0" value="sofas">Sofas</option>
                                </select>
                            </div>
                            <button type="submit" class="btn-submit">
                                <span class="flaticon-magnifying-glass-1"></span>
                            </button>
                        </form><!-- block search -->
                    </div>
                </div>
            </div>
            <div class="header-control">
                <div class="header-control-inner">
                    <div class="meta-dreaming">
                        <div class="menu-item block-user block-dreaming furgan-dropdown">
                            <a class="block-link" href="my-account.html">
                                <span class="flaticon-profile"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--dashboard is-active">
                                    <a href="#">Dashboard</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--orders">
                                    <a href="#">Orders</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--downloads">
                                    <a href="#">Downloads</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-adchair">
                                    <a href="#">Address</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-account">
                                    <a href="#">Account details</a>
                                </li>
                                <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--customer-logout">
                                    <a href="#">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">
                            <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">
                                <a class="block-link link-dropdown" href="cart.html">
                                    <span class="flaticon-cart"></span>
                                    {% comment %}
                                    Two Carts one for db feched qty, other for ajax to manage
                                    empty circle
                                    {% endcomment %}

                                    {% if items_no %}
                                    <span class="count">{{items_no}}</span>
                                    {% endif %}

                                    {% if not items_no %}
                                    <span id="cart-count" class=""></span>
                                    {% endif %}
                                    
                                </a>
                            </div>
                            <div class="widget furgan widget_shopping_cart">
                                <div class="widget_shopping_cart_content">
                                    <ul class="furgan-mini-cart cart_list product_list_widget">
                                        <li class="furgan-mini-cart-item mini_cart_item">
                                            <a href="#" class="remove remove_from_cart_button">×</a>
                                            <a href="#">
                                                <img src="{% static 'assets/images/apro134-1-600x778.jpg' %}"
                                                class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                alt="img" width="600" height="778">T-shirt with skirt – Pink&nbsp;
                                            </a>
                                            <span class="quantity">1 × <span
                                                class="furgan-Price-amount amount"><span
                                                class="furgan-Price-currencySymbol">$</span>150.00</span></span>
                                            </li>
                                            <li class="furgan-mini-cart-item mini_cart_item">
                                                <a href="#" class="remove remove_from_cart_button">×</a>
                                                <a href="#">
                                                    <img src="{% static 'assets/images/apro1113-600x778.jpg' %}"
                                                    class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                    alt="img" width="600" height="778">Alarm Clock&nbsp;
                                                </a>
                                                <span class="quantity">1 × <span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">$</span>129.00</span></span>
                                                </li>
                                                <li class="furgan-mini-cart-item mini_cart_item">
                                                    <a href="#" class="remove remove_from_cart_button">×</a>
                                                    <a href="#">
                                                        <img src="{% static 'assets/images/apro201-1-600x778.jpg' %}"
                                                        class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                        alt="img" width="600" height="778">Chair AAC&nbsp;
                                                    </a>
                                                    <span class="quantity">1 × <span
                                                        class="furgan-Price-amount amount"><span
                                                        class="furgan-Price-currencySymbol">$</span>139.00</span></span>
                                                    </li>
                                                </ul>
                                                <p class="furgan-mini-cart__total total"><strong>Subtotal:</strong>
                                                    <span class="furgan-Price-amount amount"><span
                                                        class="furgan-Price-currencySymbol">$</span>418.00</span>
                                                    </p>
                                                    <p class="furgan-mini-cart__buttons buttons">
                                                        <a href="cart.html" class="button furgan-forward">Viewcart</a>
                                                        <a href="checkout.html" class="button checkout furgan-forward">Checkout</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-wrap-stick">
                        <div class="header-position">
                            <div class="header-nav">
                                <div class="container">
                                    <div class="furgan-menu-wapper"></div>
                                    <div class="header-nav-inner">
                                        <div class="box-header-nav menu-nocenter">
                                            <ul id="menu-primary-menu"
                                            class="clone-main-menu furgan-clone-mobile-menu furgan-nav main-menu">
                                            <li id="menu-item-230"
                                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-230 parent parent-megamenu item-megamenu menu-item-has-children">
                                            <a class="furgan-menu-item-title" title="Home" href="{% url 'home' %}">Home</a>
                                            <span class="toggle-submenu"></span>
                                            <div class="submenu megamenu megamenu-home">
                                                <div class="demo-item">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-4 col-sm-6">
                                                            <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                                <figure class="dreaming_wrapper az_figure">
                                                                    <a href="index.html" target="_self"
                                                                    class="az_single_image-wrapper az_box_border_grey effect normal-effect dark-bg">
                                                                    <img src="{% static 'assets/images/about-img.jpg' %}"
                                                                    class="az_single_image-img attachment-full" alt="img">
                                                                </a>
                                                            </figure>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-6 col-lg-8 col-sm-6">
                                                        <div class="dreaming_single_image dreaming_content_element az_align_left shadow-img">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                            consequat.
                                                        </div>
                                                        <h5 class="az_custom_heading">
                                                            <a href="home-06.html">View Interior</a>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="menu-item-228"
                                    class="menu-item menu-item-type-post_type">
                                    <a class="furgan-menu-item-title" title="Shop"
                                    href="{% url 'shop' %}">Shop</a>

                                </li>
                                <li id="menu-item-229"
                                class="menu-item menu-item-type-post_type">
                                <a class="furgan-menu-item-title" title="Elements" href="#">Elements</a>
                                <span class="toggle-submenu"></span>

                            </li>
                            <li id="menu-item-996"
                            class="menu-item menu-item-type-post_type menu-item-object-megamenu menu-item-996 parent parent-megamenu item-megamenu menu-item-has-children">
                            <a class="furgan-menu-item-title" title="Blog"
                            href="blog.html">Blog</a>
                            <span class="toggle-submenu"></span>
                            <div class="submenu megamenu megamenu-blog">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="furgan-listitem style-01">
                                            <div class="listitem-inner">
                                                <h4 class="title">
                                                Blog Layout </h4>
                                                <ul class="listitem-list">
                                                    <li>
                                                        <a href="blog.html" target="_self">No Sidebar </a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-leftsidebar.html" target="_self">Left
                                                        Sidebar </a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-rightsidebar.html" target="_self">Right
                                                        Sidebar </a>
                                                    </li>
                                                    <li>
                                                        <a href="blog.html" target="_self">Blog Standard </a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-grid.html" target="_self">Blog Grid </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="furgan-listitem style-01">
                                            <div class="listitem-inner">
                                                <h4 class="title">
                                                Post Layout </h4>
                                                <ul class="listitem-list">
                                                    <li>
                                                        <a href="single-post.html" target="_self">No
                                                        Sidebar </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-post-leftsidebar.html" target="_self">Left
                                                        Sidebar </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-post-rightsidebar.html" target="_self">Right
                                                        Sidebar </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-post-instagram.html" target="_self">
                                                            <span class="image">
                                                                <img src="{% static 'assets/images/label-hot.jpg' %}"
                                                                class="attachment-full size-full" alt="img">
                                                            </span>
                                                            Instagram In Post
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="single-post-product.html"
                                                        target="_self">
                                                        <span class="image">
                                                            <img src="{% static 'assets/images/label-new.jpg' %}"
                                                            class="attachment-full size-full" alt="img">
                                                        </span>
                                                        Product In Post
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="menu-item-237"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-237 parent">
                    <a class="furgan-menu-item-title" title="Pages" href="#">Pages</a>
                    <span class="toggle-submenu"></span>
                    <ul role="menu" class="submenu">
                        <li id="menu-item-987"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-987">
                        <a class="furgan-menu-item-title" title="About"
                        href="about.html">About</a></li>
                        <li id="menu-item-988"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-988">
                        <a class="furgan-menu-item-title" title="Contact"
                        href="contact.html">Contact</a></li>
                        <li id="menu-item-990"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-990">
                        <a class="furgan-menu-item-title" title="Page 404"
                        href="404.html">Page 404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="header-mobile">
    <div class="header-mobile-left">
        <div class="block-menu-bar">
            <a class="menu-bar menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="header-search furgan-dropdown">
            <div class="header-search-inner" data-furgan="furgan-dropdown">
                <a href="#" class="link-dropdown block-link">
                    <span class="flaticon-magnifying-glass-1"></span>
                </a>
            </div>
            <div class="block-search">
                <form role="search" method="get"
                class="form-search block-search-form furgan-live-search-form">
                <div class="form-content search-box results-search">
                    <div class="inner">
                        <input autocomplete="off" class="searchfield txt-livesearch input" name="s" value=""
                        placeholder="Search here..." type="text">
                    </div>
                </div>
                <input name="post_type" value="product" type="hidden">
                <input name="taxonomy" value="product_cat" type="hidden">
                <div class="category">
                    <select title="product_cat" name="product_cat" id="1770352541"
                    class="category-search-option" tabindex="-1"
                    style="display: none;">
                    <option value="0">All Categories</option>
                    <option class="level-0" value="light">Light</option>
                    <option class="level-0" value="chair">Chair</option>
                    <option class="level-0" value="table">Table</option>
                    <option class="level-0" value="bed">Bed</option>
                    <option class="level-0" value="new-arrivals">New arrivals</option>
                    <option class="level-0" value="lamp">Lamp</option>
                    <option class="level-0" value="specials">Specials</option>
                    <option class="level-0" value="sofas">Sofas</option>
                </select>
            </div>
            <button type="submit" class="btn-submit">
                <span class="flaticon-magnifying-glass-1"></span>
            </button>
        </form><!-- block search -->
    </div>
</div>
<ul class="wpml-menu">
    <li class="menu-item furgan-dropdown block-language">
        <a href="#" data-furgan="furgan-dropdown">
            <img src="{% static 'assets/images/en.png' %}"
            alt="en" width="18" height="12">
            English
        </a>
        <span class="toggle-submenu"></span>
        <ul class="sub-menu">
            <li class="menu-item">
                <a href="#">
                    <img src="{% static 'assets/images/it.png' %}"
                    alt="it" width="18" height="12">
                    Italiano
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <div class="wcml-dropdown product wcml_currency_switcher">
            <ul>
                <li class="wcml-cs-active-currency">
                    <a class="wcml-cs-item-toggle">USD</a>
                    <ul class="wcml-cs-submenu">
                        <li>
                            <a>EUR</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
</ul>
</div>
<div class="header-mobile-mid">
    <div class="header-logo">
        <a href="index.html"><img alt="Furgan"
            src="{% static 'assets/images/logo.png' %}"
            class="logo"></a></div>
        </div>   
        <div class="header-mobile-right">
            <div class="header-control-inner">
                <div class="meta-dreaming">
                    <div class="menu-item block-user block-dreaming furgan-dropdown">
                        <a class="block-link" href="my-account.html">
                            <span class="flaticon-profile"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--dashboard is-active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--orders">
                                <a href="#">Orders</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--downloads">
                                <a href="#">Downloads</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-adchair">
                                <a href="#">Address</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--edit-account">
                                <a href="#">Account details</a>
                            </li>
                            <li class="menu-item furgan-MyAccount-navigation-link furgan-MyAccount-navigation-link--customer-logout">
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block-minicart block-dreaming furgan-mini-cart furgan-dropdown">
                        <div class="shopcart-dropdown block-cart-link" data-furgan="furgan-dropdown">
                            <a class="block-link link-dropdown" href="cart.html">
                                <span class="flaticon-cart"></span>
                                {% if items_no %}
                                    <span class="count">{{items_no}}</span>
                                    {% endif %}

                                    {% if not items_no %}
                                    <span id="cart-count" class=""></span>
                                    {% endif %}
                            </a>
                        </div>
                        <div class="widget furgan widget_shopping_cart">
                            <div class="widget_shopping_cart_content">
                                <ul class="furgan-mini-cart cart_list product_list_widget">
                                    <li class="furgan-mini-cart-item mini_cart_item">
                                        <a href="#" class="remove remove_from_cart_button">×</a>
                                        <a href="#">
                                            <img src="{% static 'assets/images/apro134-1-600x778.jpg' %}"
                                            class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                            alt="img" width="600" height="778">T-shirt with skirt – Pink&nbsp;
                                        </a>
                                        <span class="quantity">1 × <span
                                            class="furgan-Price-amount amount"><span
                                            class="furgan-Price-currencySymbol">$</span>150.00</span></span>
                                        </li>
                                        <li class="furgan-mini-cart-item mini_cart_item">
                                            <a href="#" class="remove remove_from_cart_button">×</a>
                                            <a href="#">
                                                <img src="{% static 'assets/images/apro1113-600x778.jpg' %}"
                                                class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                alt="img" width="600" height="778">Alarm Clock&nbsp;
                                            </a>
                                            <span class="quantity">1 × <span
                                                class="furgan-Price-amount amount"><span
                                                class="furgan-Price-currencySymbol">$</span>129.00</span></span>
                                            </li>
                                            <li class="furgan-mini-cart-item mini_cart_item">
                                                <a href="#" class="remove remove_from_cart_button">×</a>
                                                <a href="#">
                                                    <img src="{% static 'assets/images/apro201-1-600x778.jpg' %}"
                                                    class="attachment-furgan_thumbnail size-furgan_thumbnail"
                                                    alt="img" width="600" height="778">Chair AAC&nbsp;
                                                </a>
                                                <span class="quantity">1 × <span
                                                    class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">$</span>139.00</span></span>
                                                </li>
                                            </ul>
                                            <p class="furgan-mini-cart__total total"><strong>Subtotal:</strong>
                                                <span class="furgan-Price-amount amount"><span
                                                    class="furgan-Price-currencySymbol">$</span>418.00</span>
                                                </p>
                                                <p class="furgan-mini-cart__buttons buttons">
                                                    <a href="cart.html" class="button furgan-forward">Viewcart</a>
                                                    <a href="checkout.html" class="button checkout furgan-forward">Checkout</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>