<form action="Post" class="variations_form cart">
  <table>
    <head>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </head>
    {% for keys, values in nest.items %}
    <tr>
        <td>{{keys}}</td>
        <td>
            {% for key in values %}
            <span>{{key}}</span>, 
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
<table class="variations">
    <tbody>
        <tr>
            <td class="label"><label>Color</label></td>
            <td class="value">
                <select title="box_style" data-attributetype="box_style" data-id="pa_color" class="attribute-select " name="attribute_pa_color" data-attribute_name="attribute_pa_color" data-show_option_none="yes">
                    <option data-type="" value="">Choose an option</option>
                    {% for x in colors %}
                    {% if x %}
                    <option data-width="30" data-height="30" data-type="color"
                    data-pa_color="{{x}}" value="{{x}}" class="attached enabled">Pink</option>     
                    {% endif %}
                    {% endfor %}
                </select>
                <div class="data-val attribute-pa_color" data-attributetype="box_style">
                    {% for x in colors %}
                    {% if x %}
                    <a class="change-value color" style="background: {{x}};"
                    data-value="{{x}}"></a>
                    {% endif %}
                    {% endfor %}
                </div>
                <a class="reset_variations" href="#"
                style="visibility: hidden;">Clear</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="single_variation_wrap">
    <div class="furgan-variation single_variation"></div>
    <div class="furgan-variation-add-to-cart variations_button">
        <div class="quantity">
            <span class="qty-label">Quantiy:</span>
            <div class="control">
                <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                <input type="text" data-step="1" min="0" max="" name="quantity[25]" value="0" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                <a class="btn-number qtyplus quantity-plus" href="#">+</a>
            </div>
        </div>
        <button type="submit"
        class="single_add_to_cart_button button alt  furgan-variation-selection-needed">
        Add to cart
    </button>
    <input name="add-to-cart" value="27" type="hidden">
    <input name="product_id" value="27" type="hidden">
    <input name="variation_id" class="variation_id" value="0" type="hidden">
</div>
</div>
</form>



