{% extends 'base/base.html' %}
{% load static %}

{% block main-content %}
<div class="banner-wrapper has_background">
	<div class="banner-wrapper-inner">
		<h1 class="page-title">Shop</h1>
		<div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
			<ul class="trail-items breadcrumb">
				<li class="trail-item trail-begin"><a href="index.html"><span>Home</span></a></li>
				<li class="trail-item trail-end active"><span>Shop</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="main-container shop-page left-sidebar">
	<div class="container">
		<div class="row">
			<div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12 has-sidebar">
				<div class="shop-control shop-before-control">
					<div class="grid-view-mode">
						<form>
							<a href="shop.html" data-toggle="tooltip" data-placement="top"
							class="modes-mode mode-grid display-mode active" value="grid">
							<span class="button-inner">
								Shop Grid
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="shop-list.html" data-toggle="tooltip" data-placement="top"
						class="modes-mode mode-list display-mode " value="list">
						<span class="button-inner">
							Shop List
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
				</form>
			</div>
			<form class="furgan-ordering" method="get">
				<select title="product_cat" name="orderby" class="orderby">
					<option value="menu_order" selected="selected">Default sorting</option>
					<option value="popularity">Sort by popularity</option>
					<option value="rating">Sort by average rating</option>
					<option value="date">Sort by latest</option>
					<option value="price">Sort by price: low to high</option>
					<option value="price-desc">Sort by price: high to low</option>
				</select>
			</form>
			<form class="per-page-form">
				<label>
					<select class="option-perpage">
						<option value="12" selected="">
							Show 12
						</option>
						<option value="5">
							Show 05
						</option>
						<option value="10">
							Show 10
						</option>
						<option value="12">
							Show 12
						</option>
						<option value="15">
							Show 15
						</option>
						<option value="20">
							Show All
						</option>
					</select>
				</label>
			</form>
		</div>
		<div class=" auto-clear equal-container better-height furgan-products">
			<ul class="row products columns-3">
				{% for product in all_products %}
				<li class="product-item wow fadeInUp product-item rows-space-30 col-bg-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-ts-6 style-01"
				data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
				<div class="product-inner tooltip-left">
					<div class="product-thumb">
						<a class="thumb-link" href="{% url 'detail' product.slug %}">
							<img class="img-responsive"
							src="{{product.product_images.first.image.url}}"
							alt="Moss Sofa" width="600" height="778">
						</a>
						<div class="flash">
							<span class="onnew"><span class="text">{{product.category}}</span></span></div>
							<form class="variations_form cart">
								<table class="variations">
									<tbody>
										<tr>
											<td class="value">
												<select title="box_style" data-attributetype="box_style" data-id="pa_color" class="attribute-select " name="attribute_pa_color" data-attribute_name="attribute_pa_color"
												data-show_option_none="yes">
												<option data-type="" data-pa_color="" value="">Choose an option</option>

												<option data-width="30" data-height="30" data-type="color" data-pa_color="#3155e2" value="blue" class="attached enabled" id="blue">Blue</option>
												<option data-width="30" data-height="30" data-type="color" data-pa_color="#49aa51" value="green"
												class="attached enabled" id="green">Green</option>
												<option data-width="30" data-height="30" data-type="color" data-pa_color="#ff63cb" value="pink"
												class="attached enabled" id="pink">Pink</option>

											</select>
											<div class="data-val attribute-pa_color"
											data-attributetype="box_style">
											<a class="change-value color" href="#blue" style="background: #3155e2;" data-value="blue"></a>
											<a class="change-value color" href="#green" style="background: #49aa51;" data-value="green"></a>
											<a class="change-value color" href="#pink" style="background: #ff63cb;" data-value="pink"></a>
										</div>
										<a class="reset_variations" href="#" style="visibility: hidden;">Clear</a>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					<div class="group-button">
						<div class="yith-wcwl-add-to-wishlist">
							<div class="yith-wcwl-add-button show">
								<a href="#" class="add_to_wishlist">Add to Wishlist</a>
							</div>
						</div>
						<div class="furgan product compare-button">
							<a href="#" class="compare button">Compare</a>
						</div>
						<a href="#" class="button yith-wcqv-button">Quick View</a>
						<div class="add-to-cart">
							<a href="#" class="button product_type_variable add_to_cart_button">Select
							options</a>
						</div>
					</div>
				</div>
				<div class="product-info equal-elem">
					<h3 class="product-name product_title">
						<a href="{{product.slug}}">{{product.product_name}}</a>
					</h3>
					<div class="rating-wapper nostar">
						<div class="star-rating"><span style="width:0%">Rated <strong
							class="rating">0</strong> out of 5</span></div>
							<span class="review">(0)</span></div>
							<span class="price">
								<span class="furgan-Price-amount amount">
									<span class="furgan-Price-currencySymbol">$</span>{{product.price}}</span></span>
								</div>
							</div>
						</li>
						{% endfor %}




					</ul>
				</div>
				<div class="shop-control shop-after-control">
					<nav class="furgan-pagination">
						<span class="page-numbers current">1</span>
						<a class="page-numbers" href="#">2</a>
						<a class="next page-numbers" href="#">Next</a>
					</nav>
					<p class="furgan-result-count">Showing 1–12 of 20 results</p>
				</div>
			</div>
			{% include "products/sidebar.html" %} 
			<!-- we have to reference products in folder bec include initalize from TEMPLATE_DIR settings -->

			{% endblock main-content %}

			{% block for-javascript %}
			<script type="text/javascript">
				
			</script>
			{% endblock for-javascript %}
