{% load static %}

<div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12">
    <div id="widget-area" class="widget-area shop-sidebar">
        <div id="furgan_product_search-2" class="widget furgan widget_product_search">
            <form class="furgan-product-search">
                <input id="furgan-product-search-field-0" class="search-field"
                placeholder="Search products…" value="" name="s" type="search">
                <button type="submit" value="Search">Search</button>
            </form>
        </div>
        <div id="furgan_price_filter-2" class="widget furgan widget_price_filter"><h2
            class="widgettitle">Filter By Price<span class="arrow"></span></h2>
            <form method="get" action="#">
                <div class="price_slider_wrapper">
                    <div data-label-reasult="Range:" data-min="0" data-max="1000" data-unit="$"
                    class="price_slider" data-value-min="100" data-value-max="800">
                </div>
                <div class="price_slider_amount">
                    <button type="submit" class="button">Filter</button>
                    <div class="price_label">
                        Price: <span class="from">$100</span> — <span class="to">$800</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="furgan_furgan_layered_nav-4"
    class="widget furgan_widget_layered_nav widget_layered_nav">
    <h2 class="widgettitle">Filter By Color<span class="arrow"></span></h2>
    <div class="color-group">
        <a class="term-color " href="#">
            <i style="color: #000000"></i>
            <span class="term-name">Black</span>
            <span class="count">(4)</span> </a>

            <a class="term-color " href="#">
                <i style="color: #49aa51"></i>
                <span class="term-name">Green</span>
                <span class="count">(1)</span> </a>


                <a class="term-color " href="#">
                    <i style="color: #FFFFFF"></i>
                    <span class="term-name">White</span>
                    <span class="count">(2)</span> </a>
                    <a class="term-color " href="#s">
                        <i style="color: #e8e120"></i>
                        <span class="term-name">Yellow</span>
                        <span class="count">(2)</span> </a>
                    </div>
                </div>
                <div id="furgan_layered_nav-6"
                class="widget furgan widget_layered_nav furgan-widget-layered-nav"><h2
                class="widgettitle">Filter By Size<span class="arrow"></span></h2>
                <ul class="furgan-widget-layered-nav-list">
                    <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                        <a rel="nofollow" href="#">XS</a>
                        <span class="count">(1)</span></li>
                        <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                            <a rel="nofollow" href="#">S</a>
                            <span class="count">(4)</span></li>
                            <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                <a rel="nofollow" href="#">M</a>
                                <span class="count">(2)</span></li>
                                <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                    <a rel="nofollow" href="#">L</a>
                                    <span class="count">(3)</span></li>
                                    <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                        <a rel="nofollow" href="#">XL</a>
                                        <span class="count">(1)</span></li>
                                        <li class="furgan-widget-layered-nav-list__item furgan-layered-nav-term ">
                                            <a rel="nofollow" href="#">XXL</a>
                                            <span class="count">(4)</span></li>


                                        </ul>
                                    </div>
                                    <div id="furgan_product_categories-3" class="widget furgan widget_product_categories"><h2
                                        class="widgettitle">Product categories<span class="arrow"></span></h2>
                                        <ul class="product-categories">

                                            <li class="cat-item cat-item-16"><a href="#">Chair</a>
                                                <span class="count">(9)</span></li>
                                                <li class="cat-item cat-item-24"><a href="#">Table</a>
                                                    <span class="count">(6)</span></li>
                                                    <li class="cat-item cat-item-27"><a href="#">Bed</a> <span
                                                        class="count">(6)</span></li>
                                                        <li class="cat-item cat-item-19"><a
                                                            href="#">New arrivals</a>
                                                            <span class="count">(7)</span></li>
                                                            <li class="cat-item cat-item-17"><a href="#">Lamp</a>
                                                                <span class="count">(6)</span></li>

                                                                <li class="cat-item cat-item-18"><a href="#">Sofas</a> <span
                                                                    class="count">(6)</span></li>
                                                                </ul>
                                                            </div>
                                                            <div id="media_image-2" class="widget widget_media_image"><a href="#"><img src="{% static 'assets/images/widget-banner.jpg' %}" width="270" height="320"></a></div>
                                                        </div><!-- .widget-area -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
